html {
    font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif;
	font-size: .8em;
	line-height: 1.25;
	color: black;
	background: white;
}


ul {
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}
a {
	color: mediumblue;
	text-decoration: underline;
}
a:hover, a:focus {
	color: crimson;
}
a img {
	border: none; /* -> 10 */
}

#logo {
    height:80px;
    width:100%;
    background-image: url("images/banner.jpg");    
}

#content {
    padding-left: 20px;
    padding-right:20px;
}

#contact {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}