<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://trouvtoo.rvkb.com/"
    href="$outputFile">
  <information>
    <vendor>TrouvToo Inc</vendor>
    <title>TrouvToo Immobilier</title>
    <homepage href="http://trouvtoo.rvkb.com"/>
    <description kind="one-line">Recherche immobilière multi-sites.</description>
    <description kind="short">blah blah blah blah</description>
    <description kind="tooltip">Tooltip Description</description>
    <icon
      width="35"
      height="26"
      href="images/headphones.gif"/>
    <icon
      kind="splash"
      href="images/banner.jpg"/>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.6+"
     initial-heap-size="32m"
     max-heap-size="521m"
     />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
  </application-desc>
</jnlp>